<!--
<img class="imageLogo" src="/images/logo_new.png" alt="" />

<h1 class="title_logo text-center" >Box Check app</h1>


<div class="transition_1" >
   <h1 class="subTitle">How to use</h1>
   <p >Introduction 1</p>
   <p id="checkBoxNum">0</p>
   <p> Instruction 2</p>
</div>
-->
<div class="transition_2" >
   <h1 class="subTitle_2">Your To Do List</h1>

</div>


<script>



/*    Changing the To Do state    */
   $(".toDoButton").click(function(){

      // Getting the task ID
      var id = $(this).attr('id');
      //var id = {{T_TASK_ID}};
      // getting the ID of the taskType of this particular button
      var taskType = id+"_taskType";
      var type = document.getElementById(taskType).innerHTML; //Type of status

      //getting thet ID of the taskStatus for this particular button
      var taskStatusId = id+"_taskStatus";

      taskStatus = Number(document.getElementById(taskStatusId).innerHTML);
      element = document.getElementById(taskStatusId);

      if(type == 'SMALL_TASK'){
          console.log("eriouhtewruyghoesryghoiseurgyiserug");

         if(taskStatus == '0'){
            // Need to Update Status
            element.innerHTML = "4";
            $("#"+id).removeClass("toDoButton_notDone").addClass( "toDoButton_done" );
            $("#"+id+"_button_text").removeClass("button_notDone_text").addClass("button_done_text");
        } else {
            element.innerHTML = "0";
            $("#"+id).removeClass("toDoButton_done").addClass( "toDoButton_notDone" );
            $("#"+id+"_button_text").removeClass("button_done_text").addClass("button_notDone_text");
        }
      }else {

         if(taskStatus >=4){
            taskStatus =0;

        }else{
            console.log(id+"inside Else");

            taskStatus +=1;
        }

        if(taskStatus == 0){

            console.log(id+"if taskSttus == 0");

            $("#"+id).removeClass("toDoButton_onGoing toDoButton_done").addClass( "toDoButton_notDone" );
            $("#"+id+"_button_text").removeClass("button_onGoing_text button_done_text").add("button_notDone_text");
        }else if(taskStatus >0 && taskStatus<4){

            console.log(id+"if taskSttus == 0< here > 4");


            // Need to Update Status
            $("#"+id).removeClass("toDoButton_notDone toDoButton_done").addClass( "toDoButton_onGoing" );
            $("#"+id+"_button_text").removeClass("button_notDone_text button_done_text").addClass("button_onGoing_text");
         }else if(taskStatus == 4){
             console.log(id+"if taskSttus == 4");

            $("#"+id).removeClass("toDoButton_onGoing").addClass( "toDoButton_done" );
            $("#"+id+"_button_text").removeClass("button_onGoing_text").addClass("button_done_text");
         }
         element.innerHTML = taskStatus;
         var percentage= (taskStatus * 25);
         $( "#"+id+"_taskStatus_percentage" ).html( percentage+"%" );
      }

   });


</script>
