
<h1>To Do's</h1>
<!-- buttons moved to src/templates/views/toDo.hbs
 The template is used for scaffolding which takes the tasks from firebase and adds them up.
-->

<!--
<button type="button" class="toDoButton btn btn-default">Default</button>
<button type="button" class="toDoButton btn btn-default">Default 2</button>
-->


<!--
<script>
	$("button").click(function(){
		 states[] =  "done", "not-done"
		if($(this).val == 1)
		$(this).prev('input').val(2);

		//This part works and turns button green
		$(this).css("background-color","green");

	});
</script>
-->

<ul></ul>
