
<img class="imageLogo" src="/images/logo_new.png" alt="" />

<h1 class="title_logo text-center" >Box Check app</h1>


<div class="transition_1" >
   <h1 class="subTitle">How to use</h1>
   <p >Introduction 1</p>
   <p >Introduction 1</p>
</div>

<div class="transition_2" >
   <h1 class="subTitle_2">Your To Do List</h1>

</div>



<!--div class="transition_1_body">
   <p class="instruction">Instruction one   </p>
   <p class="instruction">instruction two</p>
</div-->

<!--

<ul class="toDoListUl"></ul>

<h1 style="display:none;">To Do's</h1>
-->
